* {
  box-sizing: border-box;
}
body {
	background-color: #d9d9d9;
	font-family: celibri;
	line-height: 1.4;
}
div.content {
	max-width: 70%;
	margin-top: 50px;
	margin: auto;
	background-color: #ffffff;
	box-shadow: 0px 0px 14px 7px #505050;
}
h1 {
	background-color: #88cc00;
	padding: 30px;
	font-size: 5vw;
	text-align: center;
	text-shadow: 4px 4px 6px #ffffff;
}
p, ol {
	margin-bottom: 0px;
}
input, textarea, select {
	margin-left: 40px;
}
input:checked + label {
	color: #3bb300
}
#other:checked input[type=text].badge_other {
	visibility: visible;
}
input[type=text] {
	width: 300px;
}
input.badge_other {
	margin-left: 5px;
	display: none;
}
label, legend {
	padding: 4px;
}
fieldset {
	margin-top: 20px;
	padding: 0 20px 20px 20px;
}
fieldset input {
	margin-left: 20px;
}
footer {
	background-color: #88cc00;
	padding: 8px;
	font-size: 11px;
	text-align: center;
}
