body {
	margin-left: 50px;
	font-family: celibri;
	line-height: 1.4;
}
h1 {
	text-align: center;
}
p, ol {
	margin-bottom: 0px;
}
input, textarea, select {
	margin-left: 40px;
}
input[type=text] {
	width: 300px;
}
input.badge_other {
	margin-left: 5px;
}
label, legend {
	padding: 4px;
}
fieldset {
	margin-top: 20px;
	padding: 0 20px 20px 20px;
}
fieldset input {
	margin-left: 20px;
}
